.header-array {
  display: flex;
  align-items: center;
  gap: 40px;

  background: #131313;
  border-bottom: 1px solid #2e2e2e;
  width: 100%;
  height: 60px;
  padding-left: 20%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}
.header-logo {
  width: 112px;
  height: 40px;
}
.header-menu-interval {
  display: flex;
}
.header-menu-name {
  padding: 21px 17px;
  justify-content: center;
  align-items: center;
  color: #747474;
  text-align: center;
  font-family: Pretendard;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration: none;
}

.header-menu-name.active {
  color: #ffffff;
}
