.result-page {
  background-color: #131313;
  color: #fff;
  min-height: 100vh;
  padding-top: 60px;
}

.result-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 20px;
}

.result-section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
}

.result-section-title {
  font-size: 20px;
  font-weight: 700;
  color: #fff;
}

.result-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 0;
  width: 100%;
}

/* 선택된 기업 카드 스타일 */
.result-custom-selected-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  background-color: #212121;
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 40px;
}

.result-card-logo-wrapper {
  width: 100px;
  height: 100px;

  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.result-card-main-logo {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.result-card-info-wrapper {
  text-align: center;
}

.result-card-company-name {
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}

.result-card-company-category {
  color: #747474;
  font-size: 18px;
}

/* 빈 상태 스타일 */
.result-custom-empty-card {
  color: #747474;
  font-size: 18px;
}

@media (max-width: 344px) {
  .result-section-title {
    font-size: 16px;
    font-weight: 700;
  }
}

.startup-table-wrap {
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}
